.scale-out-ver-top {
  -webkit-animation: scale-out-ver-top 0.3s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-ver-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.rotate-90-ccw {
  -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-360-cw {
  -webkit-animation: rotate-360-cw 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: rotate-360-cw 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}
.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.opacity-in {
  -webkit-animation: opacity-in 0.5s ease-in-out both;
  animation: opacity-in 0.5s ease-in-out both;
}
.opacity-out {
  -webkit-animation: opacity-out 0.5s ease-in-out both;
  animation: opacity-out 0.5s ease-in-out both;
}
.entrance-right {
  -webkit-animation: entrance-right 0.5s ease-in-out both;
  animation: entrance-right 0.5s ease-in-out both;
}
.exit-right {
  -webkit-animation: exit-right 0.5s ease-in-out both;
  animation: exit-right 0.5s ease-in-out both;
}
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate-360-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-360-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes opacity-in {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@keyframes opacity-in {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes opacity-out {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
  }
}
@keyframes opacity-out {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
  }
}
@-webkit-keyframes entrance-right {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes entrance-right {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes exit-right {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
}
@keyframes exit-right {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
}
