@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-basic {
    @apply appearance-none rounded-3xl block border border-gray-300 px-5 py-4 placeholder-gray-500 text-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 text-sm;
  }
  .btn {
    @apply rounded-3xl text-white font-bold py-3 px-4;
  }
  .base-card {
    @apply rounded-lg bg-white p-4;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  }
  .base-menu {
    @apply p-2 bg-white rounded w-fit;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  }
  .base-menu-item {
    @apply flex items-center px-4 cursor-pointer hover:bg-secondary-background hover:text-primary-light text-primary-text text-sm rounded-sm h-10;
  }
  .base-table {
    @apply bg-white rounded-lg w-full;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  }
  .base-table tbody tr {
    @apply border-b border-muted;
  }
  .base-table tbody tr:hover td {
    @apply bg-secondary-background;
  }
}
