.checkbox--disabled {
  pointer-events: none;
  color: var(--primary-text-light);
}
.checkbox--disabled rect:nth-child(1) {
  stroke: var(--primary-text-light);
}

.checkbox--disabled rect:nth-child(2) {
  fill: var(--primary-text-light);
}
