:root {
  --container-padding: 16px;
}
.react-datepicker-popper {
  transform: translate(0px, 32px) !important;
}
.react-datepicker {
  background: #ffffff;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: var(--container-padding);
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker__header {
  background: inherit;
  border-bottom: none;
}
.react-datepicker__navigation {
  width: 40px;
  height: 40px;
  top: var(--container-padding);
}
.react-datepicker__navigation--next {
  right: var(--container-padding);
}
.react-datepicker__navigation--previous {
  left: var(--container-padding);
}
.react-datepicker__navigation > span::before {
  width: 16px;
  height: 16px;
}
.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
}
.react-datepicker__current-month {
  font-size: 14px;
  color: var(--primary-text);
  font-weight: 600;
}
.react-datepicker__day,
.react-datepicker__day-name {
  font-size: 14px;
  color: var(--primary-text);
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 50px;
  border-radius: 0;
}
.react-datepicker__day {
  box-shadow: inset -1px -1px 0px #e6e9fa;
}
.react-datepicker__week:last-child .react-datepicker__day {
  box-shadow: inset -1px 0px 0px #e6e9fa;
}
.react-datepicker__day:last-child {
  box-shadow: inset 0px -1px 0px #e6e9fa;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--primary-light);
  color: white;
}
